* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

body {
  background-image: url(../img/background\ 1.png);
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
}

.all-content {
  width: 1030px;
  margin-top: 46px;
  position: relative;
}

.header-menu {
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  margin-bottom: 17px;
}

.first-part-menu {
  display: flex;
  align-items: center;
}

.first-part-menu:hover {
  color: #f26522;
}

.logos {
  width: 53px;
  height: 47px;
}

.logos .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logos .logo:nth-of-type(2) {
  display: none;
}

.first-part-menu:hover .logos>.logo:nth-of-type(1) {
  display: none;
}

.first-part-menu:hover .logos>.logo:nth-of-type(2) {
  display: block;
}

.logos:hover {
  cursor: pointer;
}

.header-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  height: 21px;
  display: flex;
  align-items: end;
}

.header-text.big {
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  height: 30px;
}

.text-for-logo {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.second-part-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.second-part-menu a:hover {
  color: #f26522;
}

.logo:hover {
  background-image: url(../img/logo\ 2.png);
}

.wrapper {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  flex-wrap: wrap;
  gap: 78px 60px;
  justify-content: space-between;

}

.wrapper :hover {
  color: #f26522;
}

.image-wrapper img {
  margin-bottom: 20px;
}

.image-wrapper h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.image-wrapper {
  width: 300px;
  height: 220px;
}

.footer {
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ***************************************************** */
.conteiner-hover {
  position: absolute;
  left: 1px;
  top: 240px;
  display: flex;
  width: 297px;
  height: 55px;
  background-color: #f26522;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  opacity: 0;
}

.image-wrapper:hover .conteiner-hover {
  opacity: 1;
}

.hover-item {
  color: #ffffff;
  font-size: 20px;
}

.hover-item:hover {
  color: #ffffff;
}


i {
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  margin-right: 6px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}